import { browserTypescriptLibrary } from '@premierstacks/webpack-stack';

export default function (env, argv) {
  const config = browserTypescriptLibrary(env, argv);

  config.entry = { index: ['./src/index.ts'] };

  return config;
}
