import { nodeTypescriptReactLibrary, reactExternals } from '@premierstacks/webpack-stack';

export default function (env, argv) {
  const config = nodeTypescriptReactLibrary(env, argv);

  config.entry = { index: ['./src/index.ts'] };

  reactExternals(env, argv, config);

  return config;
}
